body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    /* Set the position property to relative for proper stacking of the image and text */
    position: relative;
    color: #fff;
    text-align: center;
    padding: 1em;
    /* Set the height of the header */
    height: 200px; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow content */
}

.header-background {
    /* Set the background image and size */
    background-image: url('header-img.jpg'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Set the height of the background image to cover the header */
    height: 100%;
    /* Apply a semi-transparent overlay for better text readability */
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

.publication {
    margin-bottom: 20px;
}

.CV {
    margin-bottom: 20px;
}