<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jatin Yerawadekar - Academic Profile</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <header>
        <h1>My Name</h1>
        <p>My Space</p>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="templates/blog_central.html">Blog</a></li>
            <li><a href="templates/projects.html">Projects</a></li>
            <li><a href="templates/contact.html">Contact</a></li>
            <li><a href="cv.html">CV</a></li>
            
        </ul>
    </nav>

    

    <section>
        <h2>My Thoughts</h2>
        <p>Hi everyone! Let me give a short intro of myself. I’m Jatin, a 23 years old student saddled with studies and life(xD), and this blog is basically my short escape using which I can do the thing that I love the most(writing), about the things that engage me the most, professionally. Apart from being a data enthusiast, I’m interested in software engineering, in general, as well as low level programming. It will be my earnest attempt to make this blog as wide as possible, in terms of topics and coverage. I hope you, the reader, find this blog insightful, or at the very least enjoyable to go through.</p>
    </section>

    <section>
        <h2>Latest Blog Posts</h2>

        <div class="blog-tile">
            <h3><a href="articles/blog-post-1.html">Blog Title 1</a></h3>
            <p>Short description of Blog Post 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="blog-tile">
            <h3><a href="blog-post-2.html">Blog Title 2</a></h3>
            <p>Short description of Blog Post 2. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>

        <!-- Add more blog tiles as needed -->

    </section>

</body>
</html>